@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Spectral");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

#movadexLogo {
    width: 195px;
    margin-top: -85px;
}

.navbar {
    font-size: 16px;
    padding-top: 25px;
    border-radius: 0;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100px;

}

.navbar a {
    color: black;
    font-family: 'Montserrat';
    display: block;
    border-bottom: 3px solid transparent;
    margin-bottom: 40px;
    z-index: 100;

}

.navbar img {
    opacity: revert;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}

.icon-bar {
    color: black;
}

.navbar .navbar-nav li a:hover {
    color: black !important;
    background-color: transparent;
}

.navbar .navbar-nav li a:focus-within {
    border-bottom: 3px solid #254c82;
    padding-bottom: 5px;
}

.navbar .navbar-nav li #a:focus-within {
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}

#navBtn {
    margin-top: -20px;
    width: 140px;
    height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-weight: 600;
    color: #254c82;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    opacity: 1;
}

#navBtn:hover {
    background-color: #2a4c8b;
    box-shadow: 0px 5px 20px rgba(72, 229, 194, 0.4);
    color: #fff;
    transform: translateY(-2px);

}

#navBtn:hover .rainbow {
    color: transparent;

}

/*#navBtn {*/
/*border: 2px solid transparent;*/
/*background-color: white;*/
/*border-radius: 20px;*/
/*color: #254c82;*/
/*box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);*/
/*width: 120px;*/
/*height: 40px;*/
/*z-index: 11;*/
/*}*/

#desertImg2 {
    right: -1px;
    position: absolute;

}

#desertImg {
    top: 450px;
    position: absolute;
    height: 450px;
    z-index: -2;

}

#desertImg3 {
    margin-top: -110px;
    float: right;
    display: none;
}

.centered {
    text-align: center;
}

.mainTxt {
    margin-top: 460px;
    color: black;
    font-family: 'Montserrat';
    font-size: 44px;
    font-weight: bold;
}

.secondTxt {
    margin-top: 30px;
    color: black;
    font-family: 'Montserrat';
    font-size: 30px;
}

.textChanged {
    font-size: 44px;
    background: linear-gradient(to right, #9dacc5 0%, #2a4c8b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hr1 {
    margin-top: 370px;
    box-shadow: 0px 3px 10px grey;
    color: black;

}

.page-text {
    margin-top: 180px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: black;
    margin-left: 170px;
}

.under-logo-text {
    font-family: 'Montserrat';
    color: black;
    font-weight: bold;
    font-size: 24px;
}

#web-logo {
    margin-top: 100px;
    width: 140px;
    transform: rotate(-30deg);
    margin-bottom: 12px;
}

#web-logo2 {
    margin-top: 86px;
    width: 140px;
    margin-bottom: -13px;

}

#web-logo3 {
    margin-top: 95px;
    width: 80px;
    margin-bottom: 8px;
}

.vl {
    margin-left: 30px;
    margin-top: 170px;
    border-left: 4px solid #2a4c8b;
    height: 565px;
    position: absolute;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

.teg-text {
    margin-top: 80px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 34px;
    margin-left: 160px;
}

#paragraph {
    width: 900px;
    margin-left: 160px;
    font-size: 18px;
    font-family: 'Montserrat';
    margin-top: 50px;
}

#u-price {
    margin-top: 85px;
    height: 300px;
}

#gold-fish {
    margin-top: 20px;
    height: 300px;
    margin-left: 265px;
}

#face-card {
    margin-top: 20px;
    margin-left: -270px;
    height: 300px;
}

.hr2 {
    margin-top: 220px;
    box-shadow: 0px 3px 10px grey;
    color: black;
    z-index: 100000000;

}

#page-3 {
    z-index: 100;
}

.Btn {
    margin-top: 40px;
    margin-left: -20px;
    margin-right: -100px;
    border: 2px solid transparent;
    background-color: white;
    border-radius: 20px;
    color: #254c82;
    box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 30px;
    z-index: 11;
}

#btnCH {
    margin-left: -70px;
}

#btnCH2 {
    margin-left: -120px;
}

.Btn:hover {
    background: linear-gradient(to right, #9dacc5, #2a4c8b);
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.group {
    margin-top: 50px;
    margin-left: 170px;
    position: relative;
    margin-bottom: 45px;
}

textarea {
    margin-top: 50px;
    width: 400px;
    height: 200px;
}

.vl2 {
    margin-left: 30px;
    margin-top: 170px;
    border-left: 4px solid #2a4c8b;
    height: 440px;
    position: absolute;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 400px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.footer {
    margin-top: 70px;
    color: white;
    padding: 15px;
    background: black;
    height: 50px;
}

#footerTxt {
    float: left;
}

.footerTxt-2 {
    float: right;
    margin-left: 30px;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {

    #movadexLogo {
        width: 195px;
        margin-top: -85px;
    }

    .navbar {
        font-size: 16px;
        padding-top: 10px;
        border-radius: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.6);
        height: 70px;

    }

    .navbar a {
        color: black;
        font-family: 'Montserrat';
        display: block;
        border-bottom: 3px solid transparent;
        margin-bottom: 40px;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .icon-bar {
        color: black;
    }

    .navbar .navbar-nav li a:hover {
        color: black !important;
        background-color: transparent;
    }

    .active {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar a:hover {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li a:focus-within {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:focus-within {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:hover {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    #navBtn {
        width: 140px;
        height: 45px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.0px;
        font-weight: 600;
        color: #254c82;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    #navBtn:hover {
        background-color: #2a4c8b;
        box-shadow: 0px 5px 20px rgba(72, 229, 194, 0.4);
        color: #fff;
        transform: translateY(-2px);

    }

    #navBtn:hover .rainbow {
        color: transparent;

    }

    /*#navBtn {*/
    /*border: 2px solid transparent;*/
    /*background-color: white;*/
    /*border-radius: 20px;*/
    /*color: #254c82;*/
    /*box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*z-index: 11;*/
    /*}*/
    #desertImg {
        position: absolute;
        height: 450px;
    }

    .centered {
        text-align: center;
    }

    .mainTxt {
        margin-top: 460px;
        color: black;
        font-family: 'Montserrat';
        font-size: 44px;
        font-weight: bold;
    }

    .secondTxt {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat';
        font-size: 30px;
    }

    .textChanged {
        font-size: 44px;
        background: linear-gradient(to right, #9dacc5 0%, #2a4c8b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hr1 {
        margin-top: 370px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .page-text {
        margin-top: 160px;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Montserrat';
        color: black;
        margin-left: 130px;
    }

    .under-logo-text {
        font-family: 'Montserrat';
        color: black;
        font-weight: bold;
        font-size: 24px;
    }

    #web-logo {
        margin-top: 100px;
        width: 140px;
        transform: rotate(-30deg);
        margin-bottom: 12px;
    }

    #web-logo2 {
        margin-top: 86px;
        width: 140px;
        margin-bottom: -13px;

    }

    #web-logo3 {
        margin-top: 95px;
        width: 80px;
        margin-bottom: 8px;
    }

    .vl {
        margin-left: 30px;
        margin-top: 170px;
        height: 565px;
        position: absolute;
        background-color: rgb(37, 76, 130);
        width: 3px;
        z-index: 46;
    }

    .teg-text {
        margin-top: 80px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 34px;
        margin-left: 130px;
    }

    #paragraph {
        width: 800px;
        margin-left: 130px;
        font-size: 18px;
        font-family: 'Montserrat';
        margin-top: 50px;
    }

    #u-price {
        margin-top: 85px;
        height: 300px;
    }

    #gold-fish {
        margin-top: 20px;
        height: 300px;
        margin-left: 165px;
    }

    #face-card {
        margin-top: 20px;
        margin-left: -170px;
        height: 300px;
    }

    .hr2 {
        margin-top: 100px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .Btn {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: -100px;
        border: 2px solid transparent;
        background-color: white;
        border-radius: 20px;
        color: #254c82;
        box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 30px;
        z-index: 11;
    }

    #btnCH {
        margin-left: 20px;
    }

    #btnCH2 {
        margin-left: -10px;
    }

    .Btn:hover {
        background: linear-gradient(to right, #9dacc5, #2a4c8b);
        color: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

    .group {
        margin-top: 50px;
        margin-left: 130px;
        position: relative;
        margin-bottom: 45px;
    }

    .vl2 {
        margin-left: 30px;
        margin-top: 170px;
        border-left: 4px solid #2a4c8b;
        height: 520px;
        position: absolute;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 400px;
        border: none;
        border-bottom: 1px solid #757575;
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 400px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    .footer {
        margin-top: 100px;
        color: white;
        padding: 15px;
        background: black;
        height: 50px;
    }

    .footerTxt {
        float: left;
    }

    .footerTxt-2 {
        float: right;
        margin-left: 30px;
    }

}

@media screen and (min-width: 768px) and (max-width: 999px) {

    #movadexLogo {
        width: 195px;
        margin-top: -85px;
    }

    .navbar {
        font-size: 16px;
        padding-top: 10px;
        border-radius: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.6);
        height: 70px;

    }

    .navbar a {
        color: black;
        font-family: 'Montserrat';
        display: block;
        border-bottom: 3px solid transparent;
        margin-bottom: 40px;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .icon-bar {
        color: black;
    }

    .navbar .navbar-nav li a:hover {
        color: black !important;
        background-color: transparent;
    }

    .active {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar a:hover {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li a:focus-within {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:focus-within {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:hover {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    #navBtn {
        width: 140px;
        height: 45px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.0px;
        font-weight: 600;
        color: #254c82;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    #navBtn:hover {
        background-color: #2a4c8b;
        box-shadow: 0px 5px 20px rgba(72, 229, 194, 0.4);
        color: #fff;
        transform: translateY(-2px);

    }

    #navBtn:hover .rainbow {
        color: transparent;

    }

    /*#navBtn {*/
    /*border: 2px solid transparent;*/
    /*background-color: white;*/
    /*border-radius: 20px;*/
    /*color: #254c82;*/
    /*box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*z-index: 11;*/
    /*}*/
    #desertImg {
        position: absolute;
        height: 450px;

    }

    .centered {
        text-align: center;
    }

    .mainTxt {
        margin-top: 460px;
        color: black;
        font-family: 'Montserrat';
        font-size: 38px;
        font-weight: bold;
    }

    .secondTxt {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat';
        font-size: 26px;
    }

    .textChanged {
        font-size: 44px;
        background: linear-gradient(to right, #9dacc5 0%, #2a4c8b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hr1 {
        margin-top: 370px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .page-text {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 34px;
        font-weight: bold;
        font-family: 'Montserrat';
        color: black;
        margin-left: 100px;
    }

    .under-logo-text {
        font-family: 'Montserrat';
        color: black;
        font-weight: bold;
        font-size: 24px;
    }

    #web-logo {
        margin-top: 100px;
        width: 120px;
        transform: rotate(-30deg);
        margin-bottom: 12px;
    }

    #web-logo2 {
        margin-top: 86px;
        width: 120px;
        margin-bottom: -5px;

    }

    #web-logo3 {
        margin-top: 95px;
        width: 70px;
        margin-bottom: 8px;
    }

    .vl {
        margin-left: 30px;
        margin-top: 200px;
        border-left: 4px solid #2a4c8b;
        height: 565px;
        position: absolute;
    }

    .teg-text {
        margin-top: 80px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 30px;
        margin-left: 100px;
    }

    #paragraph {
        width: 620px;
        margin-left: 100px;
        font-size: 18px;
        font-family: 'Montserrat';
        margin-top: 50px;
    }

    #u-price {
        margin-top: -20px;
        height: 300px;
    }

    #gold-fish {
        margin-top: 20px;
        height: 300px;
        margin-left: 55px;
    }

    #face-card {
        margin-top: 20px;
        margin-left: -58px;
        height: 300px;
    }

    .hr2 {
        margin-top: 150px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .Btn {
        margin-top: -40px;
        margin-left: 40px;
        margin-right: -100px;
        border: 2px solid transparent;
        background-color: white;
        border-radius: 20px;
        color: #254c82;
        box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 30px;
        z-index: 11;
    }

    #btnCH {
        margin-left: 30px;
    }

    #btnCH2 {
        margin-left: 20px;
    }

    .Btn:hover {
        background: linear-gradient(to right, #9dacc5, #2a4c8b);
        color: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

    .group {
        margin-top: 50px;
        margin-left: 100px;
        position: relative;
        margin-bottom: 45px;
    }

    .vl2 {
        margin-left: 30px;
        margin-top: 100px;
        border-left: 4px solid #2a4c8b;
        height: 560px;
        position: absolute;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 350px;
        border: none;
        border-bottom: 1px solid #757575;
    }

    textarea {
        margin-top: 50px;
        width: 350px;
        height: 200px;
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 350px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    .footer {
        margin-top: 100px;
        color: white;
        padding: 15px;
        background: black;
        height: 50px;
    }

    .footerTxt {
        float: left;
    }

    .footerTxt-2 {
        float: right;
        margin-left: 30px;
    }

}

@media screen and (min-width: 650px) and (max-width: 767px) {

    #movadexLogo {
        width: 195px;
        margin-top: -85px;
    }

    .navbar {
        font-size: 16px;
        padding-top: 10px;
        border-radius: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 1);
        height: 70px;

    }

    .navbar a {
        color: black;
        font-family: 'Montserrat';
        display: block;
        border-bottom: 3px solid transparent;
        margin-bottom: 40px;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .icon-bar {
        color: black;
    }

    .navbar .navbar-nav li a:hover {
        color: black !important;
        background-color: transparent;
    }

    .active {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar a:hover {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li a:focus-within {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:focus-within {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:hover {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    #navBtn {
        width: 140px;
        height: 45px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.0px;
        font-weight: 600;
        color: #254c82;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    #navBtn:hover {
        background-color: #2a4c8b;
        box-shadow: 0px 5px 20px rgba(72, 229, 194, 0.4);
        color: #fff;
        transform: translateY(-2px);

    }

    #navBtn:hover .rainbow {
        color: transparent;

    }

    #menu {
        background-color: white;
        text-align: center;
        padding: 20px;
    }

    /*#navBtn {*/
    /*border: 2px solid transparent;*/
    /*background-color: white;*/
    /*border-radius: 20px;*/
    /*color: #254c82;*/
    /*box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*z-index: 11;*/
    /*}*/
    #desertImg {
        position: absolute;
        height: 450px;

    }

    .centered {
        text-align: center;
    }

    .mainTxt {
        margin-top: 460px;
        color: black;
        font-family: 'Montserrat';
        font-size: 34px;
        font-weight: bold;
    }

    .secondTxt {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat';
        font-size: 23px;
    }

    .textChanged {
        font-size: 44px;
        background: linear-gradient(to right, #9dacc5 0%, #2a4c8b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hr1 {
        margin-top: 370px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .page-text {
        margin-top: 100px;
        font-size: 34px;
        font-weight: bold;
        font-family: 'Montserrat';
        color: black;
        margin-left: 100px;
    }

    .under-logo-text {
        font-family: 'Montserrat';
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    #web-logo {
        position: absolute;
        left: 15%;
        width: 120px;
        transform: rotate(-30deg);
        margin-bottom: 20px;
    }

    #web-logo2 {
        top: -15px;
        left: 40%;
        position: absolute;
        margin-top: 86px;
        width: 120px;
        margin-bottom: -13px;

    }

    #web-logo3 {
        top: -1px;
        left: 75%;
        position: absolute;
        margin-top: 80px;
        width: 70px;
        margin-bottom: 19px;
    }

    .vl {
        margin-left: 30px;
        margin-top: 170px;
        border-left: 4px solid #2a4c8b;
        height: 700px;
        position: absolute;
    }

    .teg-text {
        margin-top: 380px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 30px;
        margin-left: 100px;
    }

    #text1 {
        position: absolute;
        left: 20%;
        top: 190px;
    }

    #text2 {
        position: absolute;
        left: 43%;
        top: 206px;
    }

    #text3 {
        position: absolute;
        left: 76%;
        top: 188px;
    }

    #paragraph {
        width: 500px;
        margin-left: 100px;
        font-size: 18px;
        font-family: 'Montserrat';
        margin-top: 50px;
    }

    #u-price {
        margin-top: 50px;
        height: 250px;
    }

    #gold-fish {

        margin-top: 20px;
        height: 250px;

        margin-bottom: 100px;
    }

    #face-card {

        margin-top: -472px;

        height: 250px;
    }

    .hr2 {
        margin-top: 400px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .Btn {
        margin-top: 30px;
        left: 130px;
        margin-right: -100px;
        border: 2px solid transparent;
        background-color: white;
        border-radius: 20px;
        color: #254c82;
        box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 30px;
        z-index: 11;
        position: absolute;
    }

    #btnCH {
        position: absolute;
        left: 300px;
    }

    #btnCH2 {
        position: absolute;
        left: 470px;
    }

    .Btn:hover {
        background: linear-gradient(to right, #9dacc5, #2a4c8b);
        color: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

    #group {
        margin-top: 100px;
    }

    .group {
        margin-top: 50px;
        margin-left: 100px;
        position: relative;
        margin-bottom: 45px;
    }

    textarea {
        margin-top: 50px;
        width: 350px;
        height: 200px;
    }

    .vl2 {
        margin-left: 30px;
        margin-top: 100px;
        border-left: 4px solid #2a4c8b;
        height: 500px;
        position: absolute;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 350px;
        border: none;
        border-bottom: 1px solid #757575;
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 350px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    .footer {
        margin-top: 100px;
        color: white;
        padding: 15px;
        background: black;
        height: 50px;
    }

    .footerTxt {
        float: left;
    }

    .footerTxt-2 {
        float: right;
        margin-left: 30px;
    }

}

@media screen and (min-width: 500px) and (max-width: 649px) {

    #movadexLogo {
        width: 195px;
        margin-top: -85px;
    }

    .navbar {
        font-size: 16px;
        padding-top: 10px;
        border-radius: 0;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 1);
        height: 70px;

    }

    .navbar a {
        color: black;
        font-family: 'Montserrat';
        display: block;
        border-bottom: 3px solid transparent;
        margin-bottom: 40px;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .icon-bar {
        color: black;
    }

    .navbar .navbar-nav li a:hover {
        color: black !important;
        background-color: transparent;
    }

    .navbar .navbar-nav li #a:focus-within {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:hover {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    .active {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar a:hover {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li a:focus-within {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    #menu {
        background-color: white;
        text-align: center;
        padding: 20px;
    }

    #navBtn {
        width: 140px;
        height: 45px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.0px;
        font-weight: 600;
        color: #254c82;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    #navBtn:hover {
        background-color: #2a4c8b;
        box-shadow: 0px 5px 20px rgba(72, 229, 194, 0.4);
        color: #fff;
        transform: translateY(-2px);

    }

    #navBtn:hover .rainbow {
        color: transparent;

    }

    /*#navBtn {*/
    /*border: 2px solid transparent;*/
    /*background-color: white;*/
    /*border-radius: 20px;*/
    /*color: #254c82;*/
    /*box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*z-index: 11;*/
    /*}*/
    #desertImg {
        position: absolute;
        height: 450px;
        display: none;
    }

    #desertImg2 {
        display: none;
    }

    .centered {
        text-align: center;
    }

    .mainTxt {
        margin-top: 460px;
        color: black;
        font-family: 'Montserrat';
        font-size: 34px;
        font-weight: bold;
    }

    .secondTxt {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat';
        font-size: 19px;
    }

    .textChanged {
        font-size: 44px;
        background: linear-gradient(to right, #9dacc5 0%, #2a4c8b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hr1 {
        margin-top: 370px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .page-text {
        margin-top: 160px;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat';
        color: black;
        margin-left: 60px;
    }


    .under-logo-text {
        font-family: 'Montserrat';
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    #web-logo {
        position: absolute;
        left: 15%;
        width: 120px;
        transform: rotate(-30deg);
        margin-bottom: 20px;
    }

    #web-logo2 {
        top: -15px;
        left: 40%;
        position: absolute;
        margin-top: 86px;
        width: 120px;
        margin-bottom: -13px;

    }

    #web-logo3 {
        top: -1px;
        left: 75%;
        position: absolute;
        margin-top: 80px;
        width: 70px;
        margin-bottom: 19px;
    }

    .vl {
        margin-left: 30px;
        margin-top: 170px;
        border-left: 4px solid #2a4c8b;
        height: 700px;
        position: absolute;
    }

    .teg-text {
        margin-top: 380px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 30px;
        margin-left: 100px;
    }

    #text1 {
        position: absolute;
        left: 20%;
        top: 190px;
    }

    #text2 {
        position: absolute;
        left: 43%;
        top: 206px;
    }

    #text3 {
        position: absolute;
        left: 76%;
        top: 188px;
    }

    #paragraph {
        width: 400px;
        margin-left: 60px;
        font-size: 18px;
        font-family: 'Montserrat';
        margin-top: 50px;
    }

    #u-price {
        margin-top: 50px;
        height: 200px;
    }

    #gold-fish {

        margin-top: 20px;
        height: 200px;
        margin-left: 208px;

        margin-bottom: 100px;
    }

    #face-card {

        margin-top: -424px;
        margin-left: -210px;
        height: 200px;
    }

    .hr2 {
        margin-top: 100px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .Btn {
        margin-top: 20px;
        left: 100px;
        border: 2px solid transparent;
        background-color: white;
        border-radius: 20px;
        color: #254c82;
        box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 30px;
        z-index: 11;
        position: absolute;
    }

    #btnCH {
        position: absolute;
        left: 270px;
    }

    #btnCH2 {
        position: absolute;
        left: 440px;
    }

    .Btn:hover {
        background: linear-gradient(to right, #9dacc5, #2a4c8b);
        color: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

    #group {
        margin-top: 100px;
    }

    .group {
        margin-top: 50px;
        margin-left: 60px;
        position: relative;
        margin-bottom: 45px;
    }

    textarea {
        margin-top: 50px;
        width: 350px;
        height: 200px;
    }

    .vl2 {
        margin-left: 30px;
        margin-top: 170px;
        border-left: 4px solid #2a4c8b;
        height: 490px;
        position: absolute;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 350px;
        border: none;
        border-bottom: 1px solid #757575;
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 350px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    .footer {
        margin-top: 100px;
        color: white;
        padding: 15px;
        background: black;
        height: 50px;
    }

    .footerTxt {
        float: left;
    }

    .footerTxt-2 {
        float: right;
        margin-left: 30px;
    }

}

@media screen and (min-width: 300px) and (max-width: 499px) {

    #movadexLogo {
        width: 195px;
        margin-top: -85px;
    }

    .navbar {
        font-size: 16px;
        padding-top: 10px;
        border-radius: 0;

        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 1);
        height: 70px;

    }

    #menu {
        background-color: white;
        text-align: center;
        padding: 20px;
    }

    .navbar a {
        color: black;
        font-family: 'Montserrat';
        display: block;
        border-bottom: 3px solid transparent;
        margin-bottom: 40px;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .icon-bar {
        color: black;
    }

    .navbar .navbar-nav li a:hover {
        color: black !important;
        background-color: white;
    }

    .active {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar a:hover {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li a:focus-within {
        border-bottom: 3px solid #254c82;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:focus-within {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    .navbar .navbar-nav li #a:hover {
        border-bottom: 3px solid transparent;
        padding-bottom: 5px;
    }

    #navBtn {
        width: 140px;
        height: 45px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.0px;
        font-weight: 600;
        color: #254c82;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }

    #navBtn:hover {
        background-color: #2a4c8b;
        box-shadow: 0px 5px 20px rgba(72, 229, 194, 0.4);
        color: #fff;
        transform: translateY(-2px);

    }

    #navBtn:hover .rainbow {
        color: transparent;

    }

    /*#navBtn {*/
    /*border: 2px solid transparent;*/
    /*background-color: white;*/
    /*border-radius: 20px;*/
    /*color: #254c82;*/
    /*box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);*/
    /*width: 120px;*/
    /*height: 40px;*/
    /*z-index: 11;*/
    /*}*/
    #desertImg {
        position: absolute;
        height: 200px;

    }

    #desertImg2 {
        height: 300px;
        position: absolute;
        right: -1px;
    }

    .centered {
        text-align: center;
    }

    .mainTxt {
        margin-top: 280px;
        color: black;
        font-family: 'Montserrat';
        font-size: 25px;
        font-weight: bold;
    }

    .secondTxt {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat';
        font-size: 15px;
    }

    .textChanged {
        font-size: 25px;
        background: linear-gradient(to right, #9dacc5 0%, #2a4c8b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hr1 {
        margin-top: 370px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .page-text {
        margin-top: 160px;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Montserrat';
        color: black;
        margin-left: 30px;
    }

    .under-logo-text {
        margin-top: 200px;
        font-family: 'Montserrat';
        color: black;
        font-weight: bold;
        font-size: 20px;
    }

    #web-logo {
        position: absolute;
        top: -50px;
        width: 70px;
        transform: rotate(-30deg);
        left: 14%;
    }

    #web-logo2 {
        top: -50px;
        position: absolute;

        width: 70px;
        margin-bottom: -13px;
        left: 40%;

    }

    #web-logo3 {
        top: -40px;
        position: absolute;
        margin-top: 80px;
        width: 50px;
        margin-bottom: 19px;
        left: 73%;
    }

    #text1 {
        position: absolute;
        top: -60px;
        left: 14%;
    }

    #text2 {
        position: absolute;
        top: -65px;
        left: 40%;
    }

    #text3 {
        position: absolute;
        top: -64px;
        left: 73%;
    }

    .vl {

        margin-left: 10px;
        margin-top: 170px;
        border-left: 4px solid #2a4c8b;
        height: 500px;
        position: absolute;
    }

    .teg-text {

        margin-top: 230px;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 26px;
        margin-left: 40px;
    }

    #paragraph {
        width: 240px;
        margin-left: 40px;
        font-size: 14px;
        font-family: 'Montserrat';
        margin-top: 50px;
    }

    #u-price {
        margin-top: 85px;
        height: 140px;
    }

    #gold-fish {
        margin-top: 10px;
        height: 140px;
        margin-left: 145px;
    }

    #face-card {

        height: 140px;
        margin-top: -164px;
        margin-left: -148px;
    }

    .hr2 {
        margin-top: 160px;
        box-shadow: 0px 3px 10px grey;
        color: black;

    }

    .Btn {
        position: absolute;
        margin-top: 20px;
        left: 60px;
        border: 2px solid transparent;
        background-color: white;
        border-radius: 20px;
        color: #254c82;
        box-shadow: 0px 1px 6.93px 0.07px rgba(0, 0, 0, 0.3);
        width: 80px;
        height: 30px;
        z-index: 11;

    }

    #btnCH {
        margin-top: 19px;
        left: 200px;
    }

    #btnCH2 {
        margin-top: 18px;
        left: 340px;
        margin-right: 50px;
    }

    .Btn:hover {
        background: linear-gradient(to right, #9dacc5, #2a4c8b);
        color: white;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

    #group {
        margin-top: 100px;
    }

    .group {
        margin-top: 50px;
        margin-left: 40px;
        position: relative;
        margin-bottom: 45px;
    }

    textarea {
        margin-top: 50px;
        width: 240px;
        height: 140px;
    }

    .vl2 {

        margin-left: 10px;
        margin-top: 165px;
        border-left: 4px solid #2a4c8b;
        height: 420px;
        position: absolute;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 240px;
        border: none;
        border-bottom: 1px solid #757575;
    }

    input:focus {
        outline: none;
    }

    /* LABEL ======================================= */
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264AE;
    }

    /* BOTTOM BARS ================================= */
    .bar {
        position: relative;
        display: block;
        width: 240px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5264AE;
        }
        to {
            width: 0;
            background: transparent;
        }
    }

    .footer {
        margin-top: 100px;
        color: white;
        padding: 15px;
        background: black;
        height: 45px;
    }

    #footerTxt {
        font-size: 11px;

    }

    .footerTxt-2 {
        font-size: 8px;
    }

}