/********  IF JS OFF  ********/
html#nojs .leaf-container img {
    display: none
}

html#nojs section {
    height: 100vh;
!important;

}

html#nojs #page1 {
    top: 0;
}

html#nojs #page2 {
    top: 100vh;
}

html#nojs #page3 {
    top: 200vh;
}

html#nojs #page4 {
    top: 300vh;
}

html#nojs #page5 {
    top: 400vh;
}

html#nojs nav {
    -webkit-filter: invert(100%);
}

html#nojs .circle-on {
    display: none;
!important;
}

/********  IF JS OFF END ********/

html, body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: #e1d2ce00;
}

h1 {
    font-size: 4em;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

p {
    font-size: 1em;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 0;
}

button {
    background-color: inherit;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    height: 56px;
    cursor: pointer;
    outline: 0 !important;
    -webkit-tap-highlight-color: transparent;

}

.footer-mobile {
    display: none;
}

/********  NAVBAR  ********/
.navigation {
    position: fixed;
    z-index: 10;
}

/********  navbar animation  ********/

.top-nav {
    opacity: 0;

    position: fixed;

}

.is-not-hover {
    opacity: 0;

    -webkit-animation: fadeOutFromNone 0.5s ease-out;
    -moz-animation: fadeOutFromNone 0.5s ease-out;
    -o-animation: fadeOutFromNone 0.5s ease-out;
    animation: fadeOutFromNone 0.5s ease-out;
}

.is-hover {
    z-index: 100;
    opacity: 1;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

/********  navbar animation end  ********/

nav {
    position: fixed;
    z-index: 100;
    /*  remove this to place nav in the middle of section and leaves  */

}

/********  top  ********/

.navbar-top {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 3.7vh;
    height: 7vh;
    right: 0;
    left: 0;
    top: 0;
    z-index: 101;
}

.adidas {
    display: inline;
    cursor: pointer;
    width: 28px;
    height: 19px;
}

.movadex-bar {
    margin-left: 4.6vw;
    display: inline;

    width: 118px;
    height: 20px;
}

.write-us-bar {
    color: white;
    float: right;
    display: inline;
    margin-top: -4.5px;
    font-weight: 500;

}

.telegram {
    float: right;
    margin-left: 0.9vw;
    width: 21px;
    height: 13px;
}

/*left*/

.navbar-left {
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
    transition: 0.5s;
    white-space: nowrap;

}

.navbar-dots {
    transition: 0.5s;
    position: relative;
    clear: both;
    padding-bottom: 6vh;
    color: #FFFFFF;
    display: block;
    float: left;

}

.nav-button a {
    width: 26px;
    height: 26px;
    position: absolute;
    padding: 0;
    margin: 0;
    display: inline-block;
    z-index: 10;

}

.nav-button p {
    color: #FFFFFF;
    position: relative;
}

.background-circle {
    position: relative;
    width: 16px;
    display: inline-block;
    height: 16px;
}

.marg {
    margin-top: 6vh;
}

.dot {
    margin: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}

.nav-button {
    /*size of the actual clickable area*/
    width: 22px;
    height: 22px;
    transition: 0.5s;

}

.background-circle {
    width: 0;
    height: 0;
}

.circle-off {
    /*need this for animation to work*/
    width: 18px;
    height: 18px;
    -webkit-animation: growDown 0.5s forwards;
    -moz-animation: growDown 0.5s forwards;
    -ms-animation: growDown 0.5s forwards;
    -o-animation: growDown 0.5s forwards;
    animation: growDown 0.5s forwards;
}

.circle-on {

    width: 18px;
!important;
    height: 18px;
!important;
    display: block;
    -webkit-animation: growUp 0.5s;
    -moz-animation: growUp 0.5s;
    -ms-animation: growUp 0.5s;
    -o-animation: growUp 0.5s;
    animation: growUp 0.5s;
}

/*left end*/

/*bottom*/
.telegram-mob {
    display: none;
}

.navbar-bottom {
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2vw 2vw 5.3vh;
    z-index: 99;

}

.icon-facebook {
    margin-right: 3.3vw;
    width: 17px;
    height: 17px;
}

.icon-instagram {
    display: none;
!important;
}

.lang {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    float: right;
    padding-left: 2vh;
    bottom: 0;
}

/*navbar change color*/

.invert {
    -webkit-filter: invert(100%);
!important;
    filter: invert(100%);
!important;
    -ms-filter: invert(100%);
!important;

}

.dis-invert {
    transition: 0.5s, -webkit-filter 0.5s, -ms-filter 0.5s, filter 0.5s;

}

/******** NAVBAR END  ********/
section {
}

.content {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: inherit;
    height: 100vh;
    z-index: 1;
}

/******** SECTION 1  ********/

#page1 {
    width: 100%;
    height: 200vh;
    position: relative;
    z-index: 1;
    overflow: unset;
!important;
}

.leaf-background {
    background: url("../image/bg1.gif") no-repeat fixed center center;
    overflow: unset;
!important;

}

.title {
    position: absolute;
    height: 100vh;
    right: 0;
    left: 0;
    width: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    background: url("../image/title.png") no-repeat fixed center center;
    background-size: 80vw;
    z-index: 0;

}

/******** SECTION 2  ********/

#page2 {
    top: 200vh;
    height: 120vh;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-color: #cac8bb;
}

.mask {
    position: absolute;
    height: 68vh;
    margin: auto;
    width: auto;
    top: 0;
    right: 15.4vw;

}

.section2-description {

    position: absolute;
    left: 44vw;
    top: 69vh;
    right: 2vw;
    margin-top: 16px;

}
.section33-description{
    margin-bottom: 20px;
    margin-left: 52px;

}
.advantages{
    width: 410px;
    margin-left: 50px;
    margin-top: 11vh;
}

.badges3{
    float: left;
    margin-right: 1vw;
}
.section2-heading {

    position: absolute;
    left: 18vw;
    top: 63.0vh;
}

/******** SECTION 3  ********/

#page3 {
    top: 320vh;
    height: 120vh;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-color: #a3cec2;
}

.napoleon {
    z-index: -1;
    position: absolute;
    height: 95vh;
    margin: auto;
    width: auto;
    bottom: 0;
    right: 0;

}

.section3-description {

    position: absolute;
    left: 7.9vw;
    top: 36vh;
    width: 730px;
}

.section3-heading {

    position: absolute;
    left: 7.4vw;
    top: 19vh;
}

/******** SECTION 4  ********/

#page4 {
    top: 440vh;
    height: 120vh;
    width: 100%;
    position: absolute;
    background-size: 100% 100%;
    background-color: #eaeaea;
}

.frame {
    position: absolute;
    height: 82.5vh;
    margin: auto;
    width: auto;
    top: 11vh;
    right: 0;

}

.section4-heading {
    width: 37vw;
    height: 35vh;
    position: absolute;
    left: 7.4vw;
    top: 27vh;
    font-size: 3.5em;
}

.yellow-text {
    color: #e6cc00;
}

.section4-button {
    position: absolute;
    left: 7.4vw;
    top: 65vh;

}

/******** SECTION 5  ********/

#page5 {
    top: 560vh;
    height: 120vh;
!important;
    width: 100%;
    position: absolute;
    background-color: #e1d2ce;
}

.section5-heading {
    position: absolute;
    left: 7.4vw;
    top: 10vh;
}

.section5-button {
    margin-left: 12vw;
    background-color: #FFFFFF00;

}

.bg5 {
    position: absolute;
    right: 0;
    left: 0;
    background-size: auto 100vh;
    bottom: 0;
    margin-top: auto;
    width: 100vw;
    height: auto;
}

.form-bar {
    top: 50vh;

}

.footer {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    position: absolute;
!important;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-bottom: 6.5vh;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.float-left {

}

/******** FORM  ********/

form {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-top: 25vh;
    position: absolute;
}

.group {
    margin-top: 50px;
    margin-left: 12vw;
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 0 10px 0;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid #000;
}

input:focus {
    outline: none;
}

/* active state */

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #000;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #000;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #000;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.bar {
    position: relative;
    display: block;
    width: 400px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #000;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/*************** LABEL ***************/
label {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
}

/******** SECTIONS END  ********/

.not-fixed {
    position: absolute;
!important;
}

.fixed {
    position: fixed;
!important;

}

/*LEAFS*/
.leaf-container {
    overflow: hidden;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 45;
}

.leaf {
    background-repeat: no-repeat;
    display: block;
    position: absolute;
!important;

}

.leaf1 {
    left: -5px;
    top: -27px;
    z-index: 46;
    width: auto;
    height: 100%;
}

.leaf2 {
    left: 6.4%;
    bottom: 0;
    z-index: 47;
    width: 50%;
    height: auto;

}

.leaf3 {
    right: 0;
    bottom: 0;
    width: 45%;
    height: auto;
    z-index: 48;

}

.leaf4 {
    right: 0;
    top: 0;

    width: auto;
    height: 73vh;
    z-index: 49;
}

.leaf5 {
    left: 14%;
    top: 0;
    width: auto;
    height: 47%;
    z-index: 50;
}

/******** SIDENAV ********/
#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99;
    -webkit-box-shadow: 7px 0 43px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px 0 43px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 7px 0 43px 0 rgba(0, 0, 0, 0.2);

}

.languages-sidenav {
    color: #FFFFFF;
    display: none;
    opacity: 0;
}

.icon-facebook-sidenav {
    display: none;
}

.icon-instagram-sidenav {
    display: none;
}

.movadex-bar-sidenav {
    opacity: 0;
    transition: 0.6s;
    margin-left: -115px;
    width: 148px;
    height: 25px;
    position: absolute;
    top: 29vh;
}

.sidenav-text {
    /*position: absolute;*/
    /*top: -20px;*/
    /*left: -200px;*/
    /*width: 200px;*/
    /*text-align: center;*/
    transition: 0.2s;
    margin-left: -200px;
}

#sidenav a {
    transition: 0.3s;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    top: 3.7vh;
    right: 15px;
    font-size: 36px;
    padding: 0 8px 8px 32px;
    text-decoration: none;
    color: #FFF;
    display: block;
    transition: 0.5s;
    z-index: 101;
}

@media screen and (max-height: 450px) {
    #sidenav {
        padding-top: 15px;
    }

}

#darkness {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

/******** SIDENAV END  ********/

/******** ANIMATED MOUSE  ********/
@media only screen and (min-width: 768px) {

    .scroll-downs {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        margin: auto;
        padding-bottom: 4vh;
        width: 34px;
        height: 55px;
        -ms-transform: scale(0.7); /* IE 9 */
        -webkit-transform: scale(0.7); /* Safari */
        transform: scale(0.7);
    }

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
        transition: margin 1500ms;

    }

    .mousey.hide {
        margin-top: calc(55px + 20vh);
    !important;
    }

    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
    }

    @keyframes scroll {
        0% {
            opacity: 0;
        }
        10% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(15px);
            opacity: 0;
        }
    }
}

/******** ANIMATED MOUSE END ********/

@-webkit-keyframes fadeOutFromNone {
    0% {
        display: none;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-moz-keyframes fadeOutFromNone {
    0% {
        display: none;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-o-keyframes fadeOutFromNone {
    0% {
        display: none;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@keyframes fadeOutFromNone {
    0% {
        display: none;
        opacity: 1;
    }

    100% {
        display: block;
        opacity: 0;
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes growDown {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes growDown {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(0);
    }
}

@-o-keyframes growDown {
    0% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(0);
    }
}

@-ms-keyframes growDown {
    0% {
        -ms-transform: scale(1);
    }
    100% {
        -ms-transform: scale(0);
    }
}

@keyframes growDown {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes growUp {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes growUp {
    0% {
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes growUp {
    0% {
        -o-transform: scale(0);
    }
    100% {
        -o-transform: scale(1);
    }
}

@-ms-keyframes growUp {
    0% {
        -ms-transform: scale(0);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@keyframes growUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.message {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1700px) {

    .mask {
        height: 63vh;
    }

    .section2-heading {
        top: 57vh;
    }

    .section2-description {
        top: 62vh;
    }

    .napoleon {
        margin-right: -10vw;
    }

    .section3-description {
        width: 38vw;
    }

    .section4-heading {
        width: 39vw;
    }

    #page4 h1 {
        font-size: 3em;
    }

    .frame {
        top: 21vh;
        height: 60vh;
    }

}

@media only screen and (max-width: 1366px) {

    .leaf1 {
        height: 90vh;
    }

    .leaf2 {
        width: 60vw;
    }

    .section2-heading {
        left: 12vw;
    }

    .section3-description {
        width: 43vw;
    }

    .napoleon {
        margin-right: -12vw;
        height: 85vh;
    }

    .section4-button {
        top: 70vh;
    }
.section5-heading{
        font-size: 3em;}
}

@media only screen and (max-width: 1280px) {

    .mask {
        height: 50vh;
    }

    .section2-heading {
        top: 45vh;
    }

    .section2-description {
        top: 55vh;
    }

    .napoleon {
        height: 85vh;
        opacity: 0.95;
        margin-right: -8vw;

    }

    .napoleon {
        margin-bottom: -10vh;

    }

    .section3-heading {
        left: 2vw;
        top: 6vh;
    }

    .section3-description {
        top: 29vh;
    }

    .frame {
        top: 20vh;
        height: 65vh;
    }

    .section4-heading {
        top: 27vh;
        width: 42vw;
    }

    #page4 h1 {
        font-size: 2.5em;
    }

    .section4-button {
        top: 60vh;
    }
}

@media only screen and (max-width: 1080px) {

    .leaf2 {
        width: 80vw;
    }

    .leaf3 {
        width: 65vw;
        margin-right: -10vw;
    }

    .leaf4 {

        height: 60vh;
    }

    .title {
        background-size: auto 60vh;
    }

    #page4 h1 {
        font-size: 2.3em;
    }

    .section4-heading {
        top: 27vh;
        width: 40vw;
    }

    .frame {
        opacity: 0.8;
        width: auto;
        height: 50vh;
        bottom: 5vh;
        top: unset;
        right: 0;
        left: 0;
    }

    .section2-heading {
        width: 100vw;
        text-align: center;
        left: 0;
    }

    .section2-description {
        width: 96vw;
        top: 65vh;
        left: unset;
        right: unset;
        text-align: center;
        padding: 2vw;

    }

    .section3-heading {
        width: 100vw;
        text-align: center;
        left: 0;
    }

    .section3-description {
        width: 90vw;
    }

    .napoleon {
        margin-bottom: -20vh;
        height: 75vh;
        margin-right: 0;
        opacity: 0.8;
    }

    .section4-heading {
        top: 15vh;
        width: 100vw;
        text-align: center;
        left: 0;

    }

    .section4-button {
        width: 180px;
        left: calc(50vw - 90px);
        margin-bottom: 15vh;

    }

    .section5-heading {
        width: 100vw;
        text-align: center;
        left: 0;
    }

    #page5 h1 {
        font-size: 3em;

    }

}

@media only screen and (max-height: 910px) {
    .section4-button {
        top: 65vh;
    }

}

@media only screen and (max-height: 760px) {
    .section3-heading {
        top: 10vh;
    }


}

@media only screen and (max-height: 700px) {
    .leaf5 {
        height: 55vh;
    }     .section4-button {
        top: 75vh;
    }

}

@media only screen and (max-height: 430px) {
    .leaf5 {
        height: 70vh;
    }

    .leaf1 {
        height: 150vh;
    }

    .leaf4 {
        height: 100vh;
    }

     .section3-heading {
        top: 5vh;
    }

}

/******** MOBILE DISPLAY  ********/

@media only screen and (max-width: 765px) {

    h1 {
        font-size: 1.6em;
        color: rgb(0, 0, 0);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: left;
    }

    p {
        font-size: 14px;
    }

    button {
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 11px;
        border-radius: 5px;
    }

    .fixed {
        position: inherit;
    }

    /**  OPACITY  **/
    .telegram {
        display: none;
    }

    .leaf-container {
        display: none;
    }

    .write-us-bar {
        display: none;
    }

    .bg5 {

        height: auto;
        width: 200vw;
        right: -40vw;
        bottom: 10vh;
        left: unset;
    }

    .icon-instagram {
        display: none;
    }

    .icon-facebook {
        display: none;
    }

    .lang {
        display: none;
    }

    /** NAVIGATION  **/
    .navbar-dots {
        transition: 0.5s;
        position: absolute;
        bottom: 0;

    }

    .movadex-bar-sidenav {
        margin-left: -110px;
    }

    .navbar-bottom {
        padding-bottom: 6.5vh;
        z-index: 50;
    }

    .telegram-mob {
        transition: 0.5s;
        display: unset;
        bottom: 0;
        width: 23px;
        height: 14px;
        float: right;
        margin-right: 1.3vh;
    }

    .adidas {

        width: auto;
        height: 16px;
    }

    .movadex-bar {

        width: auto;
        height: 17px;
    }

    .navbar-top {
        padding-top: 3vh;
        margin: 2.3%;
    }

    .navbar-left {
        padding-left: 20px;
        padding-right: 20px;
    }

    .movadex-bar {
        float: right;
    }

    .content {
        position: unset;
        margin: auto;
        top: unset;
        left: unset;
        right: unset;
        background-color: inherit;
        height: auto;
        z-index: unset;
    }

    /** icon-facebook-sidenav 1  **/
    .icon-facebook-sidenav {
        display: unset;
    }

    .icon-instagram-sidenav {
        /*display: unset;*/
    }

    .languages-sidenav {
        display: unset;
        position: absolute;
        margin-left: -105px;
        top: 80px;
    }

    .lang-sidenav {
        margin-right: 20px;
    }

    .sidenav-icons {
        margin-left: -145px;
        position: absolute;
        top: 33px;

    }

    .icon-facebook-sidenav {
        margin-right: 36px;
    }

    /** SECTION 1  **/
    #page1 {
        height: 100vh;
    !important;
        position: unset;
    }

    .leaf-background {
        background: url("../image/bg1-rotated.jpg") no-repeat center center;
        background-size: 100vw 100vh;
    }

    .title {
        position: unset;
        background: url("../image/title.png") no-repeat center center;
        background-size: 100vw auto;
        background-origin: padding-box;

    }

    /** SECTION 2  **/
    #page2 {
        height: auto;
        top: unset;
        position: unset;

    }

    .mask {
        position: unset;
        height: auto;
        width: 90.8vw;
        margin-top: 12vh;
        margin-left: 4.6vw;
    }

    .section2-heading {
        position: unset;

        margin-left: 14vw;
        text-align: left;
        width: unset;

    }

    .section2-description {
        position: unset;
        padding: 0;
        top: 59vh;
        margin-left: 14vw;
        text-align: left;
        width: 72vw;
        margin-bottom: 14vw;

    }

    /** SECTION 3  **/
    #page3 {
        height: auto;
    !important;
        position: unset;
        top: unset;
    }

    .section3-heading {
        position: unset;
        margin-top: 12vh;
    }

    .section3-description {
        position: unset;
        margin-top: 5vh;
        width: 72vw;
        margin-left: 14vw;
    }

    .napoleon {
        position: unset;
        height: auto;
        width: 100vw;
        opacity: 1;
        margin-bottom: -10px;
    }

    /** SECTION 4  **/
    #page4 {
        height: 105vh;
    !important;
        position: unset;
        top: unset;
    }

    .frame {
        position: unset;
        height: auto;
        width: 90.8vw;
        bottom: unset;
        opacity: 1;
        margin-top: 12vh;
        margin-left: 4.7vw;
    }

    #page4 h1 {
        position: unset;
        font-size: 1.5em;
        width: 80vw;
        top: unset;
        text-align: left;
        margin-left: 14vw;
        margin-top: unset;
        padding-top: unset;
        margin-bottom: 15px;
        height: unset;

    }

    .section4-button {
        position: unset;
        margin-bottom: unset;
        top: unset;
        left: unset;
        bottom: unset;
        margin-left: 14vw;

    }

    /** SECTION 5  **/
    #page5 {
        height: inherit;
    !important;
        position: unset;
        top: unset;
    }

    #page5 .content {
        height: 105vh;
        width: 100vw;
        position: absolute;
        overflow: hidden;
    }

    #page5 h1 {
        font-size: 1.5em;
        top: unset;
        width: 80vw;
        margin-top: unset;
        padding-top: unset;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        height: unset;
    }

    .text-wrapper5 {
        margin-top: 16vh;
        margin-left: 14vw;

    }

    label {
        font-size: 12px;
    }

    input:focus ~ label, input:valid ~ label {
        top: -10px;
    }

    .group {
        margin-left: unset;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    input {
        width: 70vw;
        font-size: 11px;
        line-height: 1.357;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }

    .bar {
        width: 70vw;
    }

    form {
        margin-top: unset;
    }

    .section5-button {
        margin-left: unset;
        margin-top: 10px;
    }

    .footer-mobile {
        display: unset;
        position: absolute;
        width: 100vw;
        height: 90px;
        background-color: #fff;
        bottom: 0;
        z-index: 100;
    }

    /*remove icon facebook to add instagram*/
    .icon-facebook.icon-mobile {
        display: unset;
        margin-top: 4.4vh;
        -webkit-filter: invert(100%);
        margin-left: 6vw;

    }

    .lang-mobile {
        float: right;
        margin-top: 4.4vh;
        margin-right: 4vw;
        font-size: 14px;

    }

    .footer {
        font-size: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        padding-bottom: unset;
        text-align: right;
        width: 96vw;

    }

}

@media only screen and (max-height: 450px) {

    /** SECTION 4  **/
    .frame {
        height: auto;
        width: 30vw;
        margin-left: 35vw;
    }

    /** SECTION 5  **/
    #page5 .content {
        height: 150vh;
        width: 100vw;
        position: absolute;
        overflow: hidden;
    }

    .text-wrapper5 {
        margin-top: 7vh;
    }

    .br-mob {
        display: none;
    }

    .footer {
        margin-bottom: 1vh;
        width: 100vw;
        text-align: center;
    }
}

/*DEBUG*/

/** {*/
/*border: 1px solid red;*/
/*}*/